.App {
  font-family: 'Roboto', sans-serif;
  padding: 10px 0px;
  background-color: #202020;
  height: 100%;
  width: 100%;
  margin: 0;

}
#root {
  display: flex;
  flex-direction: column;
}







