.Contacts {
  background-color: #2C2C2C;
  margin-left: 40px;
  width: 25%;
  height: 100%;
  padding: 16px;
  margin-top: 40px;
  border-radius: 5px 0 0 0;
  /* display: flex;
  align-content: space-between; */

}
.header {
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  /* background-color: #2C2C2C; */

}
.title {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.icons-container .icon-bar {
  padding-left: 10px;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
}

.search-bar {
      /* position: fixed; */
      /* background-color: #2C2C2C; */
  /* margin-bottom: 20px; */
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  /* margin-top:38px ; */
}
.search {
    color: #ffffff;
  border-radius: 3px;
      border-bottom: 0.2px rgb(156, 151, 151) solid;
  background-color: #383838;
  padding: 0px 4px;
  width: 100%;
  
}
Input::placeholder {
  font-size: 12px;
  font-weight: 200;
}
/* sx={{
  width: '12px',
  color: '#ffffff',
borderRadius: '3px',
borderBottom:' 0.2px rgb(156, 151, 151) solid',
backgroundColor:' #383838',
padding: '10px',
height: '100%', */

/* .search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
} */

.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.contacts-list li {
  padding: 10px;
  /* border-bottom: 1px solid #ddd;
  font-size: 18px; */
}

.contacts-list li:last-child {
  border-bottom: none;
}
